In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('backtest_data_isolated\BTCUSDT-5 May 2013-17 June 2021.csv')
df

,d,o,h,l,c,TP,SL,rr1,rr2,trend,result,method,dw,hd,timeframe
0,1504015200000,4581.61,4599.96,4530.87,4530.87,4459.369248,4578.537168,1.5,1.0,1,0,1,Tuesday,14,15m
1,1507166100000,4223.54,4233.95,4205.12,4206.00,4163.688126,4234.207916,1.5,1.0,0,0,1,Thursday,1,15m
2,1525643100000,9570.02,9577.28,9557.01,9561.17,9494.948776,9605.317482,1.5,1.0,0,0,1,Monday,21,15m
3,1528002900000,7647.04,7651.85,7635.86,7645.01,7616.618438,7663.937708,1.5,1.0,1,0,1,Sunday,5,15m
4,1531193400000,6645.61,6647.35,6634.65,6637.02,6599.040718,6662.339521,1.5,1.0,0,1,1,Tuesday,3,15m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3917321,1523232000000,7011.04,7185.00,6611.00,6782.72,10327.236127,5010.461936,6.0,3.0,0,0,62,Monday,0,1d
3917322,1549152000000,3504.06,3511.09,3426.00,3458.11,4209.628897,3082.350551,6.0,3.0,0,1,62,Sunday,0,1d
3917323,1564012800000,9763.40,10175.00,9720.03,9879.87,4740.390470,12449.609765,6.0,3.0,0,1,62,Thursday,0,1d
3917324,1591315200000,9788.14,9854.75,9581.00,9621.16,12594.887998,8134.296001,6.0,3.0,1,1,62,Friday,0,1d
3917325,1619913600000,57797.35,57911.02,56035.25,56578.21,76301.806665,46716.411668,6.0,3.0,1,0,62,Sunday,0,1d

In [4]:
df_15m = df.loc[df['timeframe'] == '15m']

In [5]:
from kline_initial import klines_initial

def get_unix_days(d):
    latest_unix_days = klines_initial('BTCUSDT', '1d', d+5)[-d-1:]
    latest = [ x[0] for x in latest_unix_days ]
    return latest
get_unix_days(3)

[1626393600000, 1626480000000, 1626566400000, 1626652800000]

In [12]:
def win_intervals(d):
    # use pd and get all pd conditions 
    da = get_unix_days(d)
    results = []
    for idx,_ in enumerate(range(d)):
        # tdf.append(df.loc[(da[idx] <= df['d']) & ( df['d'] <= da[idx+1])])
        ivl = df_15m.loc[(1528002900000 <= df_15m['d']) & ( df_15m['d'] <= 1564012800000)]
        grp = ivl.groupby(['method']).sum().sort_values('result', ascending=False)
        results.append(grp)

    for result in results:  
        f = []
        for idx, row in result.iterrows():
            f.append({idx:row['result']})
        print(f)

win_intervals(3)

[{30: 14466.0}, {11: 13604.0}, {29: 13430.0}, {40: 13199.0}, {39: 13195.0}, {17: 13108.0}, {53: 13030.0}, {52: 12346.0}, {48: 12208.0}, {13: 12091.0}, {20: 11506.0}, {27: 10860.0}, {5: 8643.0}, {41: 7825.0}, {25: 6778.0}, {19: 5894.0}, {56: 5886.0}, {24: 5697.0}, {28: 5515.0}, {42: 5445.0}, {18: 5031.0}, {26: 4786.0}, {3: 4039.0}, {10: 3803.0}, {62: 3696.0}, {51: 3111.0}, {50: 2871.0}, {35: 2466.0}, {4: 2174.0}, {22: 2162.0}, {45: 1816.0}, {31: 1213.0}, {32: 1067.0}, {21: 986.0}, {44: 892.0}, {23: 738.0}, {54: 694.0}, {57: 662.0}, {49: 225.0}, {59: 214.0}, {55: 203.0}, {16: 129.0}, {33: 127.0}, {58: 124.0}, {8: 113.0}, {1: 107.0}, {60: 96.0}, {47: 64.0}, {38: 21.0}, {2: 1.0}, {46: 1.0}]
[{30: 14466.0}, {11: 13604.0}, {29: 13430.0}, {40: 13199.0}, {39: 13195.0}, {17: 13108.0}, {53: 13030.0}, {52: 12346.0}, {48: 12208.0}, {13: 12091.0}, {20: 11506.0}, {27: 10860.0}, {5: 8643.0}, {41: 7825.0}, {25: 6778.0}, {19: 5894.0}, {56: 5886.0}, {24: 5697.0}, {28: 5515.0}, {42: 5445.0}, {18: 5031.0}, {26: 4786.0}, {3: 4039.0}, {10: 3803.0}, {62: 3696.0}, {51: 3111.0}, {50: 2871.0}, {35: 2466.0}, {4: 2174.0}, {22: 2162.0}, {45: 1816.0}, {31: 1213.0}, {32: 1067.0}, {21: 986.0}, {44: 892.0}, {23: 738.0}, {54: 694.0}, {57: 662.0}, {49: 225.0}, {59: 214.0}, {55: 203.0}, {16: 129.0}, {33: 127.0}, {58: 124.0}, {8: 113.0}, {1: 107.0}, {60: 96.0}, {47: 64.0}, {38: 21.0}, {2: 1.0}, {46: 1.0}]
[{30: 14466.0}, {11: 13604.0}, {29: 13430.0}, {40: 13199.0}, {39: 13195.0}, {17: 13108.0}, {53: 13030.0}, {52: 12346.0}, {48: 12208.0}, {13: 12091.0}, {20: 11506.0}, {27: 10860.0}, {5: 8643.0}, {41: 7825.0}, {25: 6778.0}, {19: 5894.0}, {56: 5886.0}, {24: 5697.0}, {28: 5515.0}, {42: 5445.0}, {18: 5031.0}, {26: 4786.0}, {3: 4039.0}, {10: 3803.0}, {62: 3696.0}, {51: 3111.0}, {50: 2871.0}, {35: 2466.0}, {4: 2174.0}, {22: 2162.0}, {45: 1816.0}, {31: 1213.0}, {32: 1067.0}, {21: 986.0}, {44: 892.0}, {23: 738.0}, {54: 694.0}, {57: 662.0}, {49: 225.0}, {59: 214.0}, {55: 203.0}, {16: 129.0}, {33: 127.0}, {58: 124.0}, {8: 113.0}, {1: 107.0}, {60: 96.0}, {47: 64.0}, {38: 21.0}, {2: 1.0}, {46: 1.0}]